<div class='container'>
    <div class="images-holder">
        <img src="../../../assets/images/avatar.png">
    </div>


    <form class='form-holder' [formGroup]="playerForm" (ngSubmit)="commit()">
        <div> <small *ngIf="playerForm.invalid && playerForm.touched" style="color: red; text-align: center;"> All Field must be filled </small></div>
        <div class="info-holder">
            <div class="form-group">
                <label>Player Name </label>
                <input type="text" formControlName="player" class="form-control" aria-describedby="emailHelp" placeholder="Enter Player Name">
                <div class='alert alert-danger'  *ngIf="player.touched && !player.valid" >
                        <div *ngIf="player.invalid && player.dirty">
                                Player Name shouldn't have a number or special character 
                            <small>If numbermatics is needed then use Roman Number  ( Which would look much cooler )</small>
                        </div>
                        <div *ngIf="player.errors.required"> Player Name is required</div>
                        <div *ngIf="player.errors.minlength"> Minium length should be more then 4 </div>  
                </div>
            </div>
        </div>

        <div class="info-holder">
            <div class="form-group">
                <label>Rank </label>
                <mat-form-field style="width: 100%;">
                    <mat-label>Rank List</mat-label>
                    <mat-select  formControlName="rank">
                        <mat-option *ngFor="let rank of RankList" [value]="rank" (click)="select_rank(rank)" >
                            {{rank}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="info-holder">
            <div class="form-group">
                <label>Score </label>
                <input type="text" formControlName="score" class="form-control" aria-describedby="emailHelp" placeholder="Enter Score">
                <div class='alert alert-danger' *ngIf="score.touched && !score.valid">
                    <div *ngIf="score.errors.required"> player score shouldn't be blank</div>
                    <div *ngIf="score.dirty && score.invalid">Number Only</div>
                </div>
            </div>
        </div>

        <div class="info-holder">
            <div class="form-group">
                <label>Time </label>
                <input type="text" formControlName="time" class="form-control" aria-describedby="emailHelp" placeholder="Enter Time">
                <div class='alert alert-danger' *ngIf="time.touched && !time.valid">
                    <div *ngIf="time.errors.required"> There must a time for everything right ?</div>
                    <div *ngIf="time.dirty && time.invalid">No special character please</div>
                </div>
            </div>

        </div>


        <div class="info-holder">
            <div class='form-group'>
                <label>Favorite Game choice </label>
                <mat-form-field style="width : 60% ; text-align: center; font: bold">
                    <mat-select placeholder="Favorite Game" formControlName="favorite">
                        <mat-option *ngFor="let g of GameData" [value]="g.title" (click)="selected_game(g.title)">
                            {{g.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class='button-holder'>
            <button type="submit" class="btn btn-primary" style="margin-left: 2%;" [disabled]="!playerForm.valid">
                ADD PLAYER
            </button>
            <a class="btn btn-danger" role="button" style="float: right; margin-right:2%; width: 30%;"
                (click)="cancel()">Cancel</a>
        </div>
    </form>

</div>